{% extends "base.html" %}

{% block content %}
<h1>This is details show book page</h1>
{% if bookdetails %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">First Pub</th>
            <th scope="col">Last Pub</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{bookdetails.id}}</th>
            <td>{{bookdetails.book_name}}</td>
            <td>{{bookdetails.author}}</td>
            <td>{{bookdetails.category}}</td>
            <td>{{bookdetails.first_pub}}</td>
            <td>{{bookdetails.last_pub}}</td>
        </tr>
    </tbody>
</table>
{% else %}
<h1 style="color: red">Something went wrong</h1>
{% endif %}

{% endblock content %}
