{% extends 'base.html' %}
{% block title %}
Show Book
{% endblock title %}

{% block content %}
<h1>This is show book page</h1>
{{book}}
{%if book%}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>
            <th scope="col">First Pub</th>
            <th scope="col">Last Pub</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for b in book %}
        <tr>
            <th scope="row">{{b.id}}</th>
            <td>{{b.book_name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.category}}</td>
            <td>{{b.first_pub}}</td>
            <td>{{b.last_pub}}</td>
            <td>
                <a href="{% url 'edit' id=b.id %}"
                    class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'deletebook' id=b.id %}"
                    class="btn btn-warning btn-sm">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%else%}
<h1>No book available</h1>
{%endif%}
{% endblock %}